---
import Instagram from "@/iconos/Instagram.astro";
import { basics } from "@resume";
import Github from "@/iconos/Github.astro";
import Title from "./Title.astro";
import Globe from "@/iconos/Globe.astro";
import LinkedIn from "@/iconos/LinkedIn.astro";
import X from "@/iconos/X.astro";

const { name, label, location, profiles, email } = basics;
---

<section class="flex flex-row p-5 w-full justify-between">
  <article>
    <Title text={name} />
    <p class="text-lg font-sans text-zinc-900">{label}</p>
    <span class="flex flex-row gap-2 items-center text-zinc-500">
      <span class="block w-4"><Globe /></span>{`${location.city}`}
    </span>
    <span class="text-zinc-500"> {email}</span>

    <div class="hidden py-1 print:block">
      <p>{profiles[3].url}</p>
    </div>
    <div class="flex flex-row gap-4 py-1 print:hidden">
      <a
        href={profiles[0].url}
        target="_blank"
        class="transition ease-in-out hover:-translate-y-1 hover:scale-110 duration-300 hover:rounded-sm cursor-pointer w-6"
        aria-label="x"
        ><X />
      </a>
      <a
        href={profiles[1].url}
        target="_blank"
        class="transition ease-in-out hover:-translate-y-1 hover:scale-110 duration-300 hover:rounded-sm cursor-pointer w-6"
        aria-label="instagram"
        ><Instagram />
      </a>
      <a
        href={profiles[2].url}
        target="_blank"
        class="transition ease-in-out hover:-translate-y-1 hover:scale-110 duration-300 hover:rounded-sm cursor-pointer w-6"
        aria-label="github"
        ><Github />
      </a>
      <a
        href={profiles[3].url}
        target="_blank"
        class="transition ease-in-out hover:-translate-y-1 hover:scale-110 duration-300 hover:rounded-sm cursor-pointer w-6"
        aria-label="linkedin"
        ><LinkedIn />
      </a>
    </div>
  </article>
  <img
    src={basics.image}
    alt="Github avatar"
    height={100}
    width={100}
    loading={"eager"}
    class="max-h-26 aspect-auto object-cover rounded-xl"
  />
</section>
